@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
  --color-primary: "#136dec";
  --color-background-light: "#f6f7f8";
  --color-background-dark: "#101822";
  --color-card-dark: "#16202c";
}
