@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
  --color-primary: "#136dec";
  --color-background-light: "#f6f7f8";
  --color-background-dark: "#101822";
  --color-card-dark: "#16202c";
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
